Repository SiMDE-Projects/flairsou-api, pull requests merged in 2022-03, with the labels that each got.

#107 Feature/update transaction
  flairsou_frontend/package-lock.json
  flairsou_frontend/package.json
  flairsou_frontend/src/components/App.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/ConfirmDeleteOperation.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/Operation/Operation.css
  flairsou_frontend/src/components/UI/atoms/Transaction/Operation/Operation.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/Transaction.jsx
  flairsou_frontend/src/components/UI/molecules/Navbar/navbar.css
  flairsou_frontend/src/components/UI/molecules/TransactionList/TransactionList.jsx
  flairsou_frontend/src/components/UI/organisms/AccountContent/AccountContent.jsx
  flairsou_frontend/src/utils/currencyFormat.js
  flairsou_frontend/src/utils/currencyFormat.test.js
  flairsou_frontend/src/utils/transaction_utils.js
Labels: frontend

#116 fix: URL de base non interprétée par le JS
  flairsou_frontend/src/components/UI/molecules/AccountForm/AccountForm.jsx
Labels: bug, frontend

#112 Feature/book page
  flairsou_frontend/src/assets/accountTypeMapping.js
  flairsou_frontend/src/assets/assoTypeMapping.js
  flairsou_frontend/src/components/App.jsx
  flairsou_frontend/src/components/UI/atoms/ConfirmDeleteObject/ConfirmDeleteObject.jsx
  flairsou_frontend/src/components/UI/atoms/NavAccount/NavAccount.css
  flairsou_frontend/src/components/UI/atoms/NavAccount/NavAccount.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/ConfirmDeleteOperation.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/Operation/Operation.jsx
  flairsou_frontend/src/components/UI/atoms/Transaction/Transaction.jsx
  flairsou_frontend/src/components/UI/molecules/AccountList/AccountList.jsx
  flairsou_frontend/src/components/UI/molecules/Navbar/Navbar.jsx
  flairsou_frontend/src/components/UI/organisms/BookContent/BookContent.jsx
  flairsou_frontend/src/components/pages/book/Book.jsx
  flairsou_frontend/src/shapes/accountShape/accountShape.js
Labels: frontend

#119 Feature/credit page
  flairsou_frontend/src/components/pages/credits/Credits.jsx
Labels: frontend

#120 fix: suppression d'un compte
  flairsou_api/views/account_views.py
  flairsou_frontend/src/components/UI/molecules/AccountList/AccountList.jsx
Labels: frontend, backend

#121 fix: suppression d'un compte
  flairsou_api/tests/account.py
  flairsou_api/views/account_views.py
Labels: backend

#125 feature: ajout des modèles sur l'interface admin
  flairsou_api/admin.py
  flairsou_api/models/book.py
Labels: frontend

#118 Mise en place d'un filtre pour récupérer une partie seulement des tra…
  flairsou_api/serializers/account_serializer.py
  flairsou_frontend/src/components/UI/molecules/TransactionList/TransactionList.jsx
Labels: enhancement, frontend, backend

#129 Doc/home page
  flairsou_frontend/src/components/UI/molecules/Header/Header.jsx
  flairsou_frontend/src/components/UI/organisms/HomeContent/HomeContent.jsx
Labels: documentation, frontend

#138 fix: Correction de l'URL sur le logo de Flairsou
  flairsou_frontend/src/components/UI/molecules/Header/Header.jsx
Labels: bug, frontend

#133 Bugfix : correct account deletion api route
  flairsou_frontend/src/components/UI/molecules/AccountList/AccountList.jsx
Labels: bug, frontend, javascript

#140 Fix/calcul solde compte virtuel
  flairsou_api/models/account.py
  flairsou_api/tests/account.py
Labels: bug, backend

#141 fix: Correction des vérifications d'accès pour autoriser les pôles su…
  flairsou_api/models/account.py
  flairsou_api/models/book.py
  flairsou_api/models/operation.py
  flairsou_api/models/reconciliation.py
  flairsou_api/models/transaction.py
  flairsou_api/tests/check_access_API.py
  flairsou_api/utils/check_user_allowed.py
Labels: bug, backend
